

#landingContainer{
position: relative;
width: 1440px;
height: 811px;

}


#applyNow{

display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
padding:12px 20px;
gap:10px;
position:absolute;
width:145px;
height:48px;
left:80px;
top:295px;
background:#4358F6;
border-radius:8px;
color:aliceblue;
}


#text1{
    
width: 176px;
height: 40px;

/* Heading 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
/* identical to box height, or 118% */

text-align: center;

/* Primary/Blue */

color: #4358F6;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#text2{
    width: 663px;
    height: 62px;
    
  /* Heading 1 */


font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
/* identical to box height, or 129% */

text-align: center;

/* Primary/Dark Grey */

color: #03081A;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}


#text3{
    width: 452px;
height: 62px;

/* Heading 1 */


font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
/* identical to box height, or 129% */

text-align: center;

/* Primary/Dark Grey */

color: #03081A;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}